<div id="<%= dom_id invoice %>">
  <p>
    <strong>Title:</strong>
    <%= invoice.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= invoice.user_id %>
  </p>

</div>
