<div id="<%= dom_id contract %>">
  <p>
    <strong>Title:</strong>
    <%= contract.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= contract.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contract.user_id %>
  </p>

</div>
